@font-face {
  font-family: "ChalkStyle";
  src: url("/src/fonts/coalhandluke/coalhandluke_trial-webfont.woff2")
      format("woff2"),
    url("/src/fonts/coalhandluke/coalhandlukel-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.Menu {
  width: 22%;
  height: 94%;

  margin-left: 20px;
  margin-top: 2%;

  float: left;
  text-align: center;

  background: url(/src/chalkboard.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.List {
  margin-top: 105px;
  margin-left: 20px;
  margin-right: 12px;

  height: calc(100% - 115px);

  overflow-y: scroll;
  overflow-x: hidden;
  word-wrap: normal;

  font-family: "ChalkStyle";
  color: whitesmoke;
}
