.drinkInfo {
  max-width: 500px;

  margin-left: 20px;
  margin-top: 2%;

  padding: 10%, 2.5%;

  float: left;
  text-align: center;

  background-color: black;

  color: whitesmoke;
}

.drinkImage {
  max-width: 95%;
}
